body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  max-height: 25vmin;
}

.box {
  border: 1px solid black;
  margin: 1em;
  padding: 5%;
  min-height: 60vmin;
  max-height: 70vmin;
  width: 70vmin;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around
}

.innerBox {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 30%;
  margin: 1em;
  padding: 1em;
  border: 5px solid;
}

.red {
  color: firebrick;
  border-color: firebrick;
  background-color: lightcoral;
}

.blue {
  color: blue;
  border-color: blue;
  background-color: skyblue
}

.green {
  color: forestgreen;
  border-color: forestgreen;
  background-color: palegreen
}

.yellow {
  color: goldenrod;
  border-color: goldenrod;
  background-color: lemonchiffon;
}

button {
  padding: .5em;
  border: 2px outset;
  margin: 1em;
}

button:active {
  border: 2px inset;
}